<settings>
    <servers>
        <server>
            <id>ossrh</id>
            <username>${env.SONATYPE_USERNAME}</username>
            <password>${env.SONATYPE_PASSWORD}</password>
        </server>
    </servers>
    <activeProfiles>
        <activeProfile>jdkpaths</activeProfile>
    </activeProfiles>
    <profiles>
        <profile>
            <id>sonar</id>
            <properties>
                <sonar.host.url>https://sonarcloud.io</sonar.host.url>
                <sonar.organization>${env.SONARCLOUD_ORG}</sonar.organization>
                <sonar.login>${env.SONARCLOUD_LOGIN}</sonar.login>
            </properties>
        </profile>
        <profile>
            <id>jdkpaths</id>
            <properties>
                <jdk.8.home>/tmp/ws/openjdk-8</jdk.8.home>
            </properties>
        </profile>
        <profile>
            <id>skip</id>
            <properties>
                <maven.resources.skip>true</maven.resources.skip>
                <maven.main.skip>true</maven.main.skip>
            </properties>
        </profile>
    </profiles>
</settings>
