<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="je.romq">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-sdk android:minSdkVersion="19"
              android:targetSdkVersion="29" />

    <application
        android:largeHeap="true"
        android:allowBackup="false"
        android:label="JeromqTester"
        android:supportsRtl="true"
        />
</manifest>
